.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__tile {
  padding: 0.5rem 0.25rem;
}

.holiday-tile {
  background-color: red; /* uses DaisyUI --wa for warning */
  color: white;
  border-radius: 0;
}
