@import "tailwindcss";
@plugin "daisyui";
@import "./theme.css";

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white;
    color: black;
    font-size: 12pt;
  }

  button,
  nav,
  footer {
    display: none !important;
  }
}
