
@plugin "daisyui/theme" {
  name: "lambertz";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95% 0.0931 97.96);
  --color-base-200: oklch(85% 0.1655 86.09);
  --color-base-300: oklch(70% 0.2027 44.12);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(29% 0.1298 298.62);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(55% 0.163 48.998);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(51% 0.253 323.949);
  --color-accent-content: oklch(95% 0.037 318.852);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(38% 0.176 304.987);
  --color-info-content: oklch(82% 0.119 306.383);
  --color-success: oklch(53% 0.157 131.589);
  --color-success-content: oklch(96% 0.067 122.328);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}
